<ion-view title="CineClub Universitario" id="page81">
  <ion-content padding="true" style="background: url(img/6xEW7bZ0QBmZGZnv3SNm_FondoApp16a.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <img src="img/NC9ZIdbaSup9G8LC2QPn_CineClubUNLaR.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4 style="text-align: center;">
        <span style="color: #ffffff;">
          <strong>Todos los martes y jueves a las 21hs. en la Sala Azul del MicroCine</strong>
        </span>
      </h4>
      <p>
        <span style="color: #ffffff;">&nbsp;</span>
      </p>
      <h4 style="text-align: center;">
        <span style="color: #ffffff;">
          <strong>**Entrada libre y gratuita.*</strong>
          <strong>*</strong>
        </span>
      </h4>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <a href-inappbrowser="https://www.google.com.ar/maps/place/Microcines+UNLaR/@-29.4300737,-66.8685546,120m/data=!3m1!1e3!4m12!1m6!3m5!1s0x9427dbd07b73eb6f:0xc0bfa00dd54479c5!2sUniversidad+Nacional+de+La+Rioja!8m2!3d-29.4299009!4d-66.8687706!3m4!1s0x0:0x8c3f0cf91c97eecd!8m2!3d-29.4299135!4d-66.8684437?hl=es-419&amp;authuser=0"
      id="cineClubUniversitario-button64" style="font-style:italic;border-radius:10px 10px 10px 10px;" class="button button-energized button-block icon ion-location"> Ubicación del Microcine</a>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="cineClubUniversitario-list45">
      <ion-item class="item-icon-left item-icon-right positive" id="cineClubUniversitario-list-item339" href-inappbrowser="https://www.facebook.com/CineClubUniversitarioUNLaR/posts/">
        <i class="icon ion-social-facebook"></i>Próximas Películas
        <i class="icon ion-ios-redo"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 30px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/bJp87tbTr6BniPIU1bPg_GuiaUNLaRLinea2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>