<ion-view title="Emergencias" id="page188">
  <ion-content padding="true" style="background: url(img/6xEW7bZ0QBmZGZnv3SNm_FondoApp16a.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="emergencias-list48">
      <ion-item class="item-thumbnail-left positive" id="emergencias-list-item328" ui-sref="gUAUNLaR.salaDePrimerosAuxilios()">
        <img src="img/R9ubBWthRh6iXjjjhget_salita150.png">
        <h2positive>Primeros Auxilios
          <p style="white-space:normal;">Sala universitaria de atención médica "La Toma"</p>
        </h2positive>
      </ion-item>
      <ion-item class="item-avatar positive" id="emergencias-list-item332" href-inappbrowser="https://www.google.com/maps/place/Sala+de+primeros+auxilios+%22La+Toma%22/@-29.4299792,-66.8704814,18.25z/data=!4m11!1m5!8m4!1e3!2s102256774888265971555!3m1!1e1!3m4!1s0x0:0x2f839fe28257b1da!8m2!3d-29.4287591!4d-66.8720121">
        <img src="img/fWThr4cRwKIDZvtbk2Rw_Localizacion.png">
        <h2positive>Ubicación</h2positive>
      </ion-item>
    </ion-list>
    <ion-list id="emergencias-list50">
      <ion-item class="item-avatar positive" href-inappbrowser="tel:03804457040">
        <img src="img/xAvkj0sRUqNg9ig0RfGp_Emergencia.png">
        <h2positive>Llamar</h2positive>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="emergencias-list54">
      <ion-item class="item-thumbnail-left positive" id="emergencias-list-item336">
        <img src="img/gtUDTsp5Sumz2gbdT894_Clinicas150.png">
        <h2positive>Hospital de Clínicas
          <p style="white-space:normal;">Hospital escuela y de clínicas Virgen María de Fátima</p>
        </h2positive>
      </ion-item>
      <ion-item class="item-avatar positive" id="emergencias-list-item337" href-inappbrowser="https://www.google.com/maps/place/UNLaR+-+Hospital+Escuela+y+de+Cl%C3%ADnicas+%22Virgen+Mar%C3%ADa+de+F%C3%A1tima%22/@-29.4320772,-66.8625331,18.25z/data=!4m11!1m5!8m4!1e3!2s102256774888265971555!3m1!1e1!3m4!1s0x9427dbd4140236d5:0xb5a8849c36c23df!8m2!3d-29.4331107!4d-66.8606834">
        <img src="img/fWThr4cRwKIDZvtbk2Rw_Localizacion.png">
        <h2positive>Ubicación</h2positive>
      </ion-item>
    </ion-list>
    <ion-list id="emergencias-list55">
      <ion-item class="item-avatar positive" href-inappbrowser="tel:03804457201">
        <img src="img/xAvkj0sRUqNg9ig0RfGp_Emergencia.png">
        <h2positive>Llamar</h2positive>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="emergencias-list52">
      <ion-item class="item-avatar positive" href-inappbrowser="tel:03804457277">
        <img src="img/cLH1V7aS8K2myn86oTmc_Policia.png">
        <h2positive>Policía UNLaR</h2positive>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="emergencias-list57">
      <ion-item class="item-avatar positive" href-inappbrowser="tel:911">
        <img src="img/BM79y9kRR9CverZjXXyv_911.png">
        <h2positive>Emergencias</h2positive>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-item class="item-avatar positive" href-inappbrowser="tel:107">
      <img src="img/Er3DqIkuSsOMcVQZRb6P_107.png">
      <h2positive>Emergencias Médicas</h2positive>
    </ion-item>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="emergencias-list56">
      <ion-item class="item-avatar positive" href-inappbrowser="tel:100">
        <img src="img/1KCDHRn9SsGREb3Milr6_100.png">
        <h2positive>Bomberos</h2positive>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="emergencias-list47">
      <ion-item class="item-avatar positive" href-inappbrowser="tel:103">
        <img src="img/JbibnJ5DQ6i0jV5vfE98_103.png">
        <h2positive>Defensa Civil</h2positive>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="emergencias-list51">
      <ion-item class="item-avatar positive" href-inappbrowser="144">
        <img src="img/w6c5uGe8TVGiOmTwZBY5_144.png">
        <h2positive>Violencia de Genero</h2positive>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>