<ion-view title="Orientación Vocacional" id="page178">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/vEghhcEOTXeUUqWpXzyS_Orientacion.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <p>La Dirección de Orientación Vocacional tiene como principal objetivo orientar al Ingresante, Aspirante Estudiante o Estudiante hacia una elección consciente y responsable sobre su Formación Superior. Para ello se planifican charlas y talleres de orientación
      vocacional. Estos son gratuitos.</p>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="orientaciNVocacional-list19">
      <ion-item class="item-thumbnail-left positive" id="orientaciNVocacional-list-item155">
        <img src="img/c4ro50EwRq6OrNjNcdfY_Orientacion150.png">
        <h2positive>Orientación Vocacional
          <p style="white-space:normal;">Horario de atención: Lunes a Viernes de 9 a 12 y de 15 a 20 hs.</p>
        </h2positive>
      </ion-item>
      <ion-item class="item-icon-left positive" id="orientaciNVocacional-list-item156" href-inappbrowser="https://www.google.com/maps/place/Direcci%C3%B3n+General+de+Orientaci%C3%B3n+Vocacional/@-29.4302467,-66.8709827,17z/data=!3m1!4b1!4m11!1m5!8m4!1e4!2s102256774888265971555!3m1!1e1!3m4!1s0x9427dbbe80b07589:0x3cf252afb45da7f8!8m2!3d-29.4302467!4d-66.8687887">
        <i class="icon ion-location"></i>Ubicación</ion-item>
      <ion-item class="item-icon-left positive" href-inappbrowser="tel:03804457052">
        <i class="icon ion-android-phone-portrait"></i>Llamar</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/bJp87tbTr6BniPIU1bPg_GuiaUNLaRLinea2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>