<ion-view title="Sala de Primeros Auxilios" id="page41">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/MLN1Rfe1Sk6C4NaDHhwF_examen-psicofisico.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p class="font_7">La sala universitaria ofrece tratamientos de las principales patologías y primeros auxilios: control de presión, colocación de inyectables y curación de heridas.</p>
      <p class="font_7">Allí se realizan también Auditorías Médicas a docentes, nodocentes y las carpetas medicas estudiantiles.</p>
      <p class="font_7">Posee una ambulancia para el traslado de pacientes a un centro de mayor complejidad.</p>
      <p class="font_7">El equipo humano está conformado por&nbsp;tres enfermeros, tres médicos y dos Lic. En kinesiología y un cardiólogo para valoración de electrocardiograma.</p>
      <p class="font_7">La sala médica “La Toma” cuenta con un botiquín del programa Remediar y con medicamentos donados por OSUNLaR y FUNLaR.</p>
      <p class="font_7">Ante cualquier accidente, se puede recurrir a la sala médica (ubicada en el Colegio Preuniversitario San Martín), en el horario&nbsp; de 7:00 a 21:00 hs.</p>
    </div>
    <a href-inappbrowser="Tel:03804457040" id="salaDePrimerosAuxilios-button62" style="border-radius:10px 10px 10px 10px;" class="button button-energized button-block icon ion-ios-telephone"> Llamar</a>
    <a href-inappbrowser="https://www.google.com.ar/maps/place/Sala+de+primeros+auxilios+%22La+Toma%22/@-29.4287591,-66.8742008,17z/data=!3m1!4b1!4m11!1m5!8m4!1e4!2s102256774888265971555!3m1!1e1!3m4!1s0x9427dbc12798ac5d:0x2f839fe28257b1da!8m2!3d-29.4287591!4d-66.8720121"
      id="salaDePrimerosAuxilios-button61" style="border-radius:10px 10px 10px 10px;" class="button button-positive button-small button-block icon ion-location"> Ubicación de la Sala</a>
  </ion-content>
</ion-view>